.bg_container {
  background-image: linear-gradient(#e2a139, #a35200);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.min_container {
  background-color: white;
  height: 500px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.toss_result {
  height: 200px;
  width: 200px;
}
.result_container {
  display: flex;
}
.result_show {
  margin: 10px;
}
.image_toss_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #a35200;
  font-family: 'roboto';
}
.paragragh {
  color: black;
  font-family: 'roboto';
}
.toss_button {
  background-color: #e2a139;
  color: #a35200;
}
